//Bootstrap
@import '/node_modules/bootstrap/scss/bootstrap.scss';

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

#main-nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 6rem;
    display: flex;
    align-items: flex-start;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: transparent!important;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 999;

    .navbar-brand{

        img{
            width: 256px;
        }
    }

    .navbar-nav{
        .nav-item{
            .nav-link{
                color: #004666;
            }
        }
    }
}

.header-page{
    .banner-header{
        height: 70vh;
        position: relative;

        .content-header{
            position: relative;
            width: 100%;
            height: 100%;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 40% 70%;
            }
        }
    }

    .container-header{
        position: relative;
        z-index: 1;

        .bg-description-header{
            background: #0082a0;
            width: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;

            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgb(0,99,132);
                background: linear-gradient(315deg, rgba(0,99,132,0.8469827586206897) 0%, rgba(254,254,254,0) 100%);
            }
        }

        .content-description-header{
            padding: 50px 0;
            padding-left: 10px;
        }
    }
}

.title-header{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #fff;
    max-width: 445px;
    margin-bottom: 1.5rem;
}

.btn.btn-page{
    background: rgb(255 255 255);
    padding: .5rem 2rem;
    border-radius: 50px;
    font-size: 1.125rem;
    line-height: 1.4rem;
    color: #004666;
    font-weight: 600;
    transition: 0.3s;
}

.btn.btn-page:hover {
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.05) scaleY(1.05);
}

.title-section{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 300;
    text-align: center;
}

.section-consortium{
    padding-top: 7rem;
    
    .title-section{
        padding-left: .75rem;
        padding-right: .75rem;
        margin-bottom: 2.5rem;
    }
}

.content-carousel{
    .header-carousel-cars{
        padding: 1rem;
        background: #f3f4f6;
        height: 8rem;
        margin-bottom: 5rem;
        margin-top: 1.25rem;
        z-index: 20;
        position: relative;

        .title-car{
            color: #4c5356;
            font-weight: 700;
            font-size: 23px;
        }

        .text-desciprion-car{
            color: #004666;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 700;
        }

        .box-image-car{
            position: absolute;
            right: -15px;
            bottom: -5rem;
            width: 18rem;
            height: 10rem;

            img{
                max-width: 100%;
            }
        }
    }
    .button-simulator{
        display: block;
        font-size: 1.125rem;
        border: 2px solid #004666;
        border-radius: 50px;
        padding: .5rem 2rem;
        width: fit-content;
        font-weight: 700;
        color: #004666;
        margin-top: -25px;
    }
}

.slick-car-arrow{
    background: #004666;
    padding: 0;
    border-radius: 50px;
    padding: .5rem;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 2;
    left: 0;
    opacity: 0;
    transition: ease-out 0.3s;

    &.btn-right{
        left: auto;
        right: 0;
    }

    &:focus, &:active, &:hover{
        background: #004666!important;
    }

    svg{
        width: 2rem;
    }
}

.carousel-cars{ 
    padding: 0 40px;

    &:hover{
        .slick-car-arrow{
            opacity: 1;
        }
    }

    .item-carousel{
        padding-right: 20px;
    }
}

.whatConsortium{
    margin-top: 8rem;
    position: relative;

    .bg-whatConsortium{
        position: absolute;
        right: 0;
        height: 100%;
        width: 40rem;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.content-describe-consortium{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.title-consortium{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 300;

    b{
        font-weight: 700;
    }
}

.item-info-consortium{
    display: flex;
    align-items: center;
    gap: .5rem;

    svg{
        width: 52px;
        flex-shrink: 0;
    }

    p{
        border-left: 2px solid #e5e7eb;
        padding-left: 1.5rem;
    }
}

.consortiumAdvantages{
    padding-top: 7rem;
}

.title-strong{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #000;
    text-align: center;
}

.box-card-advantages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5rem;
    gap: 30px;
}

.item-advantages{
    background: #f3f4f6cc;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    svg{
        width: 48px;
        height: 48px;
        stroke-width: 1;
        margin: auto;
        display: block;
    }
    
    .title-advantages{
        font-size: 14px;
        font-weight: 700;
    }

    .description-advantages{
        font-size: 15px;
        font-weight: 400;
        text-align: center;

        p{
            margin: 0;
        }
    }
}

.nationalVW{
    margin-top: 5rem;

    .title-strong{
        margin-bottom: 5rem;
    }

    .align-box-national{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: auto;
        max-width: 64rem;

        figure{
            height: 20rem;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .box-description-nationalVW{
            font-size: 1.5rem;
            line-height: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}